$colors: (
    first: #FFFFFF,
    second: #F77F00,
    third: #D62828,
    fourth: #C1121F,
    fifth: #343a40,
    sixth: #495057,
);

@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}
